* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    margin-top: 25em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}