* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
}

#topaddress {
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    color: darkblue;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#checkButton {
    font-size: 20px;
    background-color: darkred;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#checkButton:hover {
    background-color: black;
    color: white;
  }

  #resetButton {
    font-size: 20px;
    background-color: darkred;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#resetButton:hover {
    background-color: black;
    color: white;
  }

.green{
    border: solid 2px lime;
}
.red{
    border: solid 2px red;
}

table, thead, tr, th {
    text-align: center;
    padding: 16px 32px;
    margin: 4px 2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: black;
}

.myinput {
    text-align: center;
    padding: 16px 32px;
    margin: 4px 2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: black;
    border-radius: 15px;
}